
<div *ngIf="goodsType">
    <h2><span>Goods Type</span> {{goodsType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Parent Id</span></dt>
        <dd>
            <span>{{goodsType.parentId}}</span>
        </dd>
        <dt><span>Type Name</span></dt>
        <dd>
            <span>{{goodsType.typeName}}</span>
        </dd>
        <dt><span>Remark</span></dt>
        <dd>
            <span>{{goodsType.remark}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'goods-type/'+ goodsType.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
